html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ant-card-head {
  border-bottom: none !important;
}

.moreButton, .moreButton:hover {
  border: 1px solid #164570 !important;
  /* padding: 6px 12px; */
  background-color: #164570 !important;
  color: #fff !important;
}

.ant-row.ant-form-item-row {
  justify-content: flex-end !important;
}

.footerDiv {
  background-color: #164570;
  color: #fff !important;
  padding: 40px 80px;
}

.footerDiv h5 {
  color: #fff !important;
  font-weight: 500;
}

.footerDiv ul {
  padding-left: 1rem;
}
