html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ant-card-head {
  border-bottom: none !important;
}

.moreButton, .moreButton:hover {
  border: 1px solid #164570 !important;
  /* padding: 6px 12px; */
  background-color: #164570 !important;
  color: #fff !important;
}

.ant-row.ant-form-item-row {
  justify-content: flex-end !important;
}

.footerDiv {
  background-color: #164570;
  color: #fff !important;
  padding: 40px 80px;
}

.footerDiv h5 {
  color: #fff !important;
  font-weight: 500;
}

.footerDiv ul {
  padding-left: 1rem;
}

.hoverContent {
  display: none;
  background-color: #989898;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  padding: 40%;
}

.gerenadaCard:hover .hoverContent {
  display: block;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1 !important;
}

.aboutus-team .ant-card-bordered {
  display: inline-block;
  margin: 0 10px 10px 0;
}

.aboutus-team .ant-card-cover img {
  object-fit: cover;
  object-position: top;
  width: 240px;
  height: 240px;
}

.aboutus-team .ant-card-meta-detail {
  text-align: center;
}

.aboutus-team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}